/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}

a:visited{
    color: var(--primary-text)
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================ END CSS RESET =========================== */
/* ============================ BEGIN STYLESHEET ======================== */


:root{
    --primary-text: black;
    --secondary-text: #a7a7a7;
}

*{
    font-family: 'Rubik', sans-serif !important;
}

body{
    background-color: #edf2f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body-container{
    position: relative;
    margin-top: 10vh;
    width: 80vh;
    height: 110vh;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 20px;
    font-weight: 600;
}

#last-name{
    color: var(--secondary-text);
}

.second-word{
    color: var(--secondary-text);
}

.name{
    display: flex;
}

.block-container{
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}

.main-block{
    position: relative;
    flex: 1 1 0;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin: 7px;
    padding: 30px;
}

.intro-block{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 45px;
}

.icon-container{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.icon{
    height: 36px;
    width: 36px;
    border: 3px solid var(--secondary-text);
    border-radius: 50%;
}

.linkedin-icon{
    background-image: url('assets/images/LINKEDIN_icon-icons.com_65538.png');
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}

.github-icon{
    background-image: url('assets/images/GITHUB_icon-icons.com_65553.png');
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}

.headshot-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headshot{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: url('assets/images/DALL·E 2023-12-09 10.15.43 - Create a hyper-minimalist, faceless portrait of a Caucasian man aged 30-35 with a side profile. The portrait should convey a joyful expression through.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.resume-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: var(--secondary-text);
}

.resume-icon{
    width: 30%;
    height: auto;
    margin-bottom: -100px;
}

.portfolio-img{
    height: auto;
    filter: grayscale(20%);
}

.nugget-rush-img{
    width: 35%
}

.dashdoor-img{
    width: 32%;
}

.home-keeper-img{
    width: 42%;
}


.image-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#portfolio-title{
    margin-top: 20px;
}


.image-container h2{
    color: var(--secondary-text);
}

.portfolio-container{
    max-height: 215px;
}